{% extends 'jobs/jobs_base.html' %}

{% block title %}Applications list{% endblock %}
{% block content %}
<div class="container">
    <h1>Applications List</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Applicant</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for application in applications %}
                <tr>
                    <td>{{ application.job.job_title }}</td>
                    <td>{{ application.applicant.username }}</td>
                    <td>{{ application.get_status_display }}</td>
                    <td>
                        <a href="{% url 'jobs:update_application_status' application.id %}"  class="btn btn-primary btn-sm">Update Status</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No applications found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
